@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@500;800&family=Train+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.headerpujcovna {
    background: url(images/pozadi.jpg);
    background-size: cover;
    height: 35vh;
}
header h1 {
    color: #8000ff;
    text-align: center;
    font-size: 60px;
}

.logoimg {
    width: 940px;
    height: 13px;
    margin: 0 auto;
}
/**** Menu ***/
.menu-hlavni {
    position: relative;
    align-items: center;
}

h2 {
    letter-spacing: 2px;
    margin: 0 0 .6rem 0;
    text-align: center;
    font-family: sans-serif
}
.slide {
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: #ffff;
    transition: 0.5s ease;
    transform: translateX(-180px);
}

h1 {
    color: #5f100e;
    font-size: 20px;
    font-weight: 800;
    text-align: right;
    padding: 30px 0;
    padding-right: 30px;
    pointer-events: none;
}

ul li {
    list-style: none;
}

ul li a {
    color: black;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

ul li:hover a {
    color: white;
    background-color: #8000ff;
    /*fialová*/
}

ul li a i {
    width: 40px;
    text-align: center;
}

input {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 10px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #8000ff;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line {
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~ .slide {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: white;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    border-radius: 50px;
    box-shadow: 3px -3px 44px #8000ff;
}
footer {
    background: #32312f;
}
footer p {
    text-align: center;
}


/***** 3 ******/
html,body,.container {
    width: 100%;
    height: 100vh;
}

body {
    background: #32312f;
    
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box1, .box2, .box3 {
    width: 300px;
    height: 320px;
    background: radial-gradient(circle at top left, transparent 340px, rgba(255, 255, 255, .3)),radial-gradient(circle at bottom right, transparent 340px, rgba(255, 255, 255, .3));
    margin: 15px;
    padding: 5px;
    color: whitesmoke;
    text-align: center;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.box1:hover,
.box2:hover,
.box3:hover {
    background-color: #8000ff;
}
.fab {
    margin: 1.2rem 0 .3rem 0;
}

.box1 p, .box2 p, .box3 p {
    line-height: 1.6;
    padding: 0 10px;
}













