@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@500;800&family=Train+One&display=swap');

h2 {
    text-align: center;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header-text {
  font-family: 'sans-serif';  
}

/**** header ****/
.headerpujcovna {
    background: url(images/pozadi.jpg);
    background-size: cover;
    height: 40vh;
}


.headerprodej {
    background: url(images/pozadi.jpg);
    background-size: cover;
    height: 40vh;
}
header {
    background: url(images/pozadi.jpg);
    background-size: cover;
    height: 40vh;
}

header h1 {
    color: #8000ff;
    text-align: center;
    font-size: 60px;
}


/****zarovnání loga****/
.logoimg {
    width: 940px;
    height: 13px;
    margin: 0 auto;
}

/**** Menu ***/
.menu-hlavni {
    position: relative;
    align-items: center;

}

body {
    background-color: white;
}

.slide {
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: #ffff;
    transition: 0.5s ease;
    transform: translateX(-180px);
}

h1 {
    color: #5f100e;
    font-size: 20px;
    font-weight: 800;
    text-align: right;
    padding: 30px 0;
    padding-right: 30px;
    pointer-events: none;
}

ul li {
    list-style: none;
}

ul li a {
    color: black;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

ul li:hover a {
    color: white;
    background-color: #8000ff;
    /*fialová*/
}

ul li a i {
    width: 40px;
    text-align: center;
}

input {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 10px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #8000ff;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line {
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~ .slide {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/**** sloupeček , nebo dva?..***/
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}
.span-3-of-3 {
    width: 100%
}

.span-2-of-3  {
    width: 60.13%;
}

.span-1-of-3{
    width: 31.26%;
}

/****about us ****/

.heading-main h2 {
    text-align: center;
    
}
p {
    text-align: center;
    
    
}
.heading-main h2:after {
    content: "";
    display: block;
    width: 250px;
    border-bottom: 2px solid #8000ff;
    margin: 0px auto;
}
.jak img {
    width: 100%;
    height: 350px;
    border-radius: 22px;
    box-shadow: 4px 6px 44px #33484a;
}
.molly img {
    width: 100%;
    height: 350px;
    border-radius: 600px;
    box-shadow: -3px -1px 44px #33484a;
}
.coto molly {
    width: 70px;
    height: 50px;
}
.textik div {
    text-align: center;
    width: 600px;
    font-size: 50px;
}

/**** TEXTY *****/
h5 {
   font-size: 23px;
}
h6 {
   color: #dc2523;
   font-size: 35px;
   text-align: center;
}
.footer p {
    text-align: center;
}
/***** SCROLL *****/

#konec {
    text-align: center;
}

/******BUTTON-GALERIE*****/
.buttonprodej {
    text-align: center;
    color: red;
    
}
.prodej {
    background: #32312f;
    position: relative;
    display: inline-block;
    color: red;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #8000ff;
    border-radius: 20px;
    padding: 4px 10px;
    letter-spacing: 1px;
    box-shadow: 3px -3px 10px #8000ff;
    
}
.prodej a {
    color: #8000ff;
}
.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: white;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    border-radius: 50px;
    box-shadow: 3px -3px 44px #8000ff;
}

/****Galerie*****/
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

body, html{
		width: 100%;
		height: 100%;	
		margin: 0;
		font-family: 'Just Another Hand', cursive;
		overflow-X: hidden;/* optional */
	}

#i1, #i2, #i3, #i4, #i5, #i6, #i7, #i8, #i5{ display: none;}

.container{
		margin: 0 auto;
		margin-top: 20px;
		position: relative;
		width: 70%;
		height: 0;
		padding-bottom: 38%;
	  user-select: none;
		background-color: #1c1c1c;
		border: solid 10px #616161;
		border-radius:10px ; 
	}

	.container .slide_img{
		position: absolute;
		width: 100%;;
		height: 100%;
	}
	.container .slide_img img{
		width: inherit;
		height: inherit;
	}

	 .prev, .next{
		width: 12%;
		height: inherit;
		position: absolute;
		top:0; 
		background-color: rgba(88, 88, 88,.2);
		color:rgba(244, 244, 244,.9);
		z-index: 99;
		transition: .45s;
		cursor: pointer;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}


.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five ,
    #i6:checked ~ #sest ,
    #i7:checked ~ #sedm ,
    #i8:checked ~ #osm ,
    #i9:checked ~ #devet 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5,
    #i6:checked  ~  #nav_slide #dot6,
    #i7:checked  ~  #nav_slide #dot7,
    #i8:checked  ~  #nav_slide #dot8,
    #i9:checked  ~  #nav_slide #dot9
	{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		


@media screen and (max-width: 685px){
	.container{
		border: none;
		width: 100%;
		height: 0;
		padding-bottom: 55%; 
	}	
	
	label span { font-size: 50pt; }
	
	.prev, .next{
		width: 15%;
	}	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}
@media screen  and(min-width: 970px){
	.me{ display: none;}
}
body {
    background-color: #32312f;
    font-family: sans-serif;
}
.table-container {
    padding: 0 10%;
    margin: 40px auto 0;
}
.heading {
    font-size: 40px;
    text-align: center;
    color: #f1f1f1;
    margin-bottom: 40px;
}
.table{
    width: 100%;
    border-collapse: #ee2828;
}
.table thead {
    background-color: #ee2828;
}

.table thead tr th{
    font-size: 14px;
    font-weight: medium;
    letter-spacing: 0.35px;
    color: #ffffff;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
}
.table tbody tr td {
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #f1f1f1;
    background-color: #3c3f44;
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e685;
}

.table .text_open{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.35px;
    color: #f1f1f1;
}



.table tbody tr td .btn {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: #ff1046; 
    font-weight: medium;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
}
.table tbody tr td img {
    display: inline-block;
    max-height: 150px;
    max-width: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 2px 6px #0003;
    
}

@media (max-width:768px){
    .table thead{
        display: none;
    }
    .table, .table tbody,.table tr,.table td {
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table tbody tr td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td:before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }

pre {
        background: #f1f1f1;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

















