@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@500;800&family=Train+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.headerprodej {
    background: url(images/pozadi.jpg);
    background-size: cover;
    height: 40vh;
}
header h1 {
    color: #8000ff;
    text-align: center;
    font-size: 60px;
}

.logoimg {
    width: 940px;
    height: 13px;
    margin: 0 auto;
}
/**** Menu ***/
.menu-hlavni {
    position: relative;
    align-items: center;
}
body {
    background: #32312f;
}
h2 {
    color: black;
    text-align: center;
    font-family: sans-serif
}
/***** Kontakty ****/

.kontakty{
    background-color: white;
    background: #32312f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.contact-info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-content: center;
    justify-content: center;
    padding: 0 20px;
}
.card {
    background: #32312f;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20%);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.card-icon{
    font-size: 28px;
    background: #ff6348;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius 50%;
    transition: 0.3s linear;
}
.card-icon2{
    font-size: 28px;
    background: red;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius 50%;
    transition: 0.3s linear;
}
.card:hover .card-icon{
    background: none;
    color: #ff6348;
    transform: scale(1.6)
}
.card p {
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}
.card:hover p{
    max-height: 40px;
    opacity: 1;
}

@media screen and (max-width:800px){
    .contact-info{
        flex-direction: column;
    }
    .card{
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
}
    

/***** Ostatni ****/
.slide {
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: #ffff;
    transition: 0.5s ease;
    transform: translateX(-180px);
}

h1 {
    color: #5f100e;
    font-size: 20px;
    font-weight: 800;
    text-align: right;
    padding: 30px 0;
    padding-right: 30px;
    pointer-events: none;
}

ul li {
    list-style: none;
}

ul li a {
    color: black;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

ul li:hover a {
    color: white;
    background-color: #8000ff;
    /*fialová*/
}

ul li a i {
    width: 40px;
    text-align: center;
}

input {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 10px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #8000ff;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line {
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~ .slide {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: white;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    border-radius: 50px;
    box-shadow: 3px -3px 44px #8000ff;
}
footer {
    background: #32312f;
}
footer p {
    text-align: center;
}