body, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	background: url("images/pozadi1.jpg");
	background-size: cover;
	height: 100vh;
}

.container {
	width: 1000px;
	margin: 0 auto;
}
h1, h2 {
	text-align: center;
	margin-top: 100px;
	}

h4{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
	}

h3{
	text-align: center;
	margin-top: 50px;
	}

/* Navigace */
nav {
	background: black;
}

nav ul {
	width: 1020px;
	margin: 0px auto;
}

nav ul li {
	width: 250px;
	list-style-type: none;
	float: left;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

nav ul li a:hover {
	border-bottom: 2px solid #95ff00 ;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Logo */
.logopng {
	background: #00980f;
	

}

.logopng img {
	display: block;
	margin: 0px auto;
	position: relative;
	top: 10px;
}
.prodej img {
	display: block;
	margin: 0px auto;
	position: relative;
	top: 50px;
	width: 500px;
	border-radius: 20px;
}
.kontakt img {
	display: block;
	margin: 0px auto;
	position: relative;
	top: 50px;
}
.tabulkaprace th {
    padding: 9px;
    text-align: center;
    background-color: #00980f;
    color: white;
}

.tabulkaprace td, .tabulkaprace th {
    border: 1px solid #538f09;
    padding: 9px;
    width: 300px;
    margin: 0px auto;
    text-align: center;

}
.tabulkaprace tr {
    transition: 0.9s;
    background-color: #00980f;
}
.tabulkaprace tr:nth-child(even){
    background-color: #f2f2f2;
}

.tabulkaprace tr:hover {
    box-shadow: 1px 1px 10px green;
    cursor: pointer;
    transition: 0.4s;
    transform: scale(1.0);
    background-color: seagreen;
} 
table {
  margin: 0px auto;
}
a {
	color: black;
	text-decoration: none;
}

/* Patička */
footer p {
	background: whitesmoke;
	color: black;
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 100px;
	text-align: center;
}