html,body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
#vizitka img {
    width: 680px;
    height: 200px;
    border: 6px solid #fff;
    box-shadow: 10px 10px 10px #718d8e;
    float: right;
}
#vizitka1 img {
    width: 680px;
    height: 200px;
    border: 6px solid #fff;
    box-shadow: 10px 10px 10px #718d8e;
    float: left;
}

#container {
	width: 1400px;
	margin: 0px auto;
}


h1 { 
	text-align: center;
	margin-top: 0px;

}
h4 {text-align: center;
}
h2 {text-align: center;
}
h3 {text-align: center;
}
#dumblue1 h1 {
	color: red;
	}
#dumblue1 img {
	width: 700px;
	height: 400px;
	float: left;
	border-radius: 20px;
	margin-right: 10px;
}


#tezebka h1 {
	color: green;
	}
#tezebka img {
	width: 700px;
	height: 400px;
	float: right;
	border-radius: 20px;
	margin-right: 10px;
}


#dilna h1 {
	color: green;
	}
#dilna img {
	width: 700px;
	height: 400px;
	float: left;
	border-radius: 20px;
	margin-right: 10px;
}


#obchodblue h1 {
	color: red;
	}
#obchodblue img {
	box-shadow: 10px 10px 10px 10px #718d8e;
	width: 700px;
	height: 400px;
	float: right;
	border-radius: 20px;
	margin-right: 10px;
}


#kanclblue h1 {
	color: red;
	}
#kanclblue img {
	box-shadow: 10px 10px 10px 10px #718d8e;
	width: 700px;
	height: 400px;
	float: left;
	border-radius: 20px;
	margin-right: 10px;
}


#obchoddil h1 {
	color: red;
	}
#obchoddil img {
	box-shadow: 10px 10px 10px 10px #718d8e;
	width: 700px;
	height: 400px;
	float: right;
	border-radius: 20px;
	margin-right: 10px;
}
#kancldil h1 {
	color: red;
	}
#kancldil img {
	box-shadow: 10px 10px 10px 10px #718d8e;
	width: 700px;
	height: 400px;
	float: left;
	border-radius: 20px;
	margin-right: 10px;
}

footer {
	color: red;
	text-align: center;

}
