
body, header {
    font-family: 'Poppins', sans-serif;
    background: #222;
}
.wrapper {
    width: 1100px;
    margin: 3% auto;
}

.single-price{
    height: 785px;
    width: 350px;
    margin: 5px;
    background: #262626;
    float: left;
    margin-top: 2%;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
    text-align: center;
    transition: 0.9s;
}


.price img {
    width: 280px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid #45ba5a;
    margin: 5% auto 0 auto;
    text-align: center;
}

.deals {
    margin-top: 10%;
}
h1{
    text-align: center;
    font-size: 18px;
    color: #F5F5DC;
    line-height: 3;
    text-transform: uppercase;
}
.single-price h1{
    font-size: 18px;
    color: #F5F5DC;
    line-height: 3;
    text-transform: uppercase;
}

.price h2 {
    font-size: 38px;
    color: #F5F5DC;
}
.deals h4 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #F5F5DC;
    line-height: 1;
}

.single-price:hover{
    background: #45ba5a;
    color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,1);
    transform: scale(1.1);
    z-index: 1;
    border-radius: 25px;
}

.single-price:hover .price{
    border-color: #fff;
}

.single-price a {
    text-decoration: none;
    background: #da4357;
    color: #fff;
    padding: 10px 60px;
    display: inline-block;
    margin: 10%auto;
    text-transform: uppercase;
    font-weight: bold;
}

.single-price:hover a {
    background: #262626;
    color: #fff;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: white;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    border-radius: 50px;
    box-shadow: 3px -3px 44px #da4357;
}

//***cenik***//
body, header {
    font-family: 'Poppins', sans-serif;
    background: #222;
}

.content-table {
    width: 900px;
    height: 20px;
    margin: 5% auto;
    border-collapse: collapse;
    font-size: 16px;
    min-width: 60%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #da4357;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 3px 15px;
}
.content-table tr td img {
    display: inline-block;
    max-height: 150px;
    max-width: 150px;
    object-fit: cover;
    border-radius: 0%;
    border: 4px solid #fff;
    box-shadow: 0 2px 6px #0003;
    
}

.content-table tbody tr {
    font-weight: bold;
    border-bottom: 2px solid #da4357;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #333437;
}


.content-table tbody tr:last-of-type {
    font-weight: bold;
    border-bottom: 2px solid #da4357;
}


.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.content-table tbody tr td.red {
    font-weight: bold;
    color: red;
}
















