body, header, footer {
    font-family: 'Poppins', sans-serif;
    background: #222;
}


body{
    margin: auto;
    padding: 50px;
}

body .footer_main{
    height: 750px;
    width: 100%;
    margin: 5px;
    background: #262626;
    float: left;
    margin-top: 2%;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
    text-align: center;
    transition: 0.9s;
}

body .footer_main{
    background: #222;
    display: flex;
    justify-content: space-around;
}

body .footer_main iframe{
    width: 600px;
    height: 400px;
    padding: 20px;
    margin: 2px;
    justify-content: space-around;
}

body .footer_main .tag{
    margin: 10px 0;
}

body .footer_main .tag .center{
    text-align: center;
}

body .footer_main .tag h1{
    text-align: center;
    font-size: 25px;
    margin: 25px 0;
    color: #f8bb9e;
}

body .footer_main .tag a{
    text-align: center;
    display: block;
    color: black;
    text-decoration: none;
    margin: 9px 0;
}

body .footer_main .tag a i{
    text-align: center;
    padding: 0 10px;
    transition: 0.3;
}

body .footer_main .tag a i:hover{
    color: #c72092;
}






































.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: white;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    border-radius: 50px;
    box-shadow: 3px -3px 44px #da4357;
}
