@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@500;800&family=Train+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h9{
    font-size: 11px;
}

.slide {
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: #ffff;
    transition: 0.5s ease;
    transform: translateX(-180px);
}
header h1 {
    color: #8000ff;
    text-align: center;
    font-size: 60px;
}
h7{
    color: #ac0000;
    text-align: center;
    font-size: 17px;
}
h2 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
h1 {
    color: #5f100e;
    font-size: 20px;
    font-weight: 800;
    text-align: right;
    padding: 30px 0;
    padding-right: 30px;
    pointer-events: none;
}

ul li {
    list-style: none;
}

ul li a {
    color: black;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

ul li:hover a {
    color: white;
    background-color: #8000ff;
    /*fialová*/
}

ul li a i {
    width: 40px;
    text-align: center;
}

input {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 10px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #8000ff;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line {
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~ .slide {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.header-text {
  font-family: 'sans-serif';  
}

/**** header ****/
.headerpujcovna {
    background: url(images/pozadi.jpg);
    background-size: cover;
    height: 40vh;
}


.headerprodej {
    background: url(images/pozadi.jpg);
    background-size: cover;
    height: 40vh;
}
header {
    background: url(images/pozadi.jpg);
    background-size: cover;
    height: 40vh;
}

/****zarovnání loga****/
.logoimg {
    width: 940px;
    height: 13px;
    margin: 0 auto;
}

/**** Menu ***/
.menu-hlavni {
    position: relative;
    align-items: center;

}

body{
    background: #32312f;
}
h7 {
    color: #ac0000;
}
.container{
    width: 90%;
    margin: 0 auto;
    
}
.container1{
    width: 30%;
    margin: 0 auto;
    
}
.container1 .menu-container1{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(30%, 1fr));
    gap: 1rem;
    margin-bottom: 3rem;
}
.container1 .menu-container1 .menu1{
    text-align: center;
    padding: 0.5rem;
    background: #464441;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline-offset: -0.7rem;
}
.container1 .menu-container1 .menu1:hover{
    outline-offset: 0;
    outline: 0.1rem solid #000;

}
.container1 .menu-container1 .menu1 img{
    min-height: 20vh;
    height: 512px;
    width: 512px;
}
.container1 .menu-container1 .menu1 img:hover{
    transform: scale(.9);
}

.container .headeing{
    font-size: 3.2rem;
    color: #333;
    margin-bottom: 3rem;
    text-align: center;
}
.container .menu-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(30%, 1fr));
    gap: 1rem;
    margin-bottom: 3rem;
}
.container .menu-container .menu{
    text-align: center;
    padding: 0.5rem;
    background: #464441;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline-offset: -0.7rem;
}
.container .menu-container .menu:hover{
    outline-offset: 0;
    outline: 0.1rem solid #000;

}
.container .menu-container .menu img{
    min-height: 20vh;
    height: 30vh;
    width: 100%;
}
.container .menu-container .menu img:hover{
    transform: scale(.9);
}
.container .menu-container .menu h3{
    font-size: 1.5rem;
    color: black;
}
    
.container .menu-container .menu .price{
    font-size: 1.5rem;
    color: #36006c;
}
.menu-preview{
    position: fixed;
    top:0; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}
.menu-preview .preview{
    display: none;
    padding: 0.5rem; 
    text-align: center;
    position: relative;
    /* margin: 1rem; */
    width: 30%;
    background: #fff;
}
.menu-preview .preview img{
    width: 100%;
    height: 100%;
}
.menu-preview .preview.active{
    display: inline-block;
}
.menu-preview .preview h3{
    font-size: 1.4rem;
    color: #333;
}
.menu-preview .preview li{
    text-align: center;
    font-size: 1rem;
    color: #333;
}
.menu-preview .preview h2{
    color: #36006c;
    font-size: 2rem;
}

.menu-preview .preview p{
    font-size: 1rem;
    color: #333;
}
.menu-preview .preview a{
    display: inline-block;
    width: 10rem; height: 2.6rem;
    background: #333;
    color: honeydew;
    font-size: 1.5rem;
    border: 0.1rem solid #333;
    border-radius: 0.5rem;
}
.menu-preview .preview a:hover{
    background: none;
    color: #333;
}
.menu-preview .preview .fa-xmark{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}
.menu-preview .preview .fa-xmark:hover{
    transform: rotate(180deg);
    color: gold;
}
////*****recenze*****///
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
}

.full-boxer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.comment-box:hover{
    margin-top: 12px;
}

.comment-box{
    width: 500px;
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
}

.Profile{
    display: flex;
    align-items: center;
}

.profile-image{
    width: 70px;
    height: 70px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.Name{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.Name strong{
    color: black;
    font-size: 18px;
}

.Name span{
    color: gray;
    margin-top: 2px;
}

.comment p{
    color: black;
}
.stars{
  color: #6ab04c;
  margin-bottom: 20px;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: white;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    border-radius: 50px;
    box-shadow: 3px -3px 44px #8000ff;
}

.footer p {
    text-align: center;
}
/////***** tabulka ****////
.table-container {
    padding: 0 10%;
    margin: 40px auto 0;
}
.heading {
    font-size: 40px;
    text-align: center;
    color: #f1f1f1;
    margin-bottom: 40px;
}
.table{
    margin: auto;
    width: 90%;
    border-collapse: #ee2828;
}
.table thead {
    background-color: #2d2d2f;
}

.table thead tr th{
    font-size: 22px;
    font-weight: medium;
    letter-spacing: 0.35px;
    color: black;
    opacity: 1;
    padding: 5px;
    vertical-align: top;
    border: 1px solid #dee2e685;
}
.table tbody tr td {
    font-size: 22x;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: black;
    background-color: #3c3f44;
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e685;
}

.table .text_open{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.35px;
    color: #f1f1f1;
}



.table tbody tr td .btn {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: #ff1046; 
    font-weight: medium;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
}
.table tbody tr td img {
    display: inline-block;
    max-height: 150px;
    max-width: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 2px 6px #0003;
    
}

@media (max-width:768px){
    .table thead{
        display: none;
    }
    .table, .table tbody,.table tr,.table td {
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table tbody tr td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td:before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }

pre {
        background: #f1f1f1;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.th i fa-solid {
    font-size: 50px;
    }